{{#each this}}
  <div class='card-img-top'>
    <img class='flags-img' alt='flags' src="{{flags.png}}" />
  </div>
  <div class='card=body'>
    <h2 class='card-title'>
      {{name}}
    </h2>
  </div>
{{/each}}